:root {
  background-color: #93a7ae;
}

.App {
  height: 100%;
  width: 100%;
}

header {
  background-color: #ffffff;
  border-radius: 40px;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  height: 20%;
  text-align: center;
  border-bottom: #184657 solid;
  border-width: 2px;
}

img {
  width: 175px;
  height: 70px;
  margin-top: 2.5%;
  margin-left: 3%;
  margin-bottom: 2.5%;
  float: left;
}

#title {
  color: #244c5a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  width: max-content;
  display: inline-block;
  margin-top: 2.5%;
  margin-right: 20%;
}

body {
  background-color: #ffffff;
  align-self: center;
  border-radius: 40px;
  height: 90vh;
}

main {
  width: 100%;
  align-content: center;
  text-align: center;
  padding-bottom: 60px;
}

footer {
  position: absolute;
  width: 99%;
  bottom: 0;
}

h3 {
  color: #184657;
  font-size: 20px;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  align-self: center;
  margin: 0%;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
}


p {
  color: #184657;
  font-size: 20px;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
}

.introText {
  color: #184657;
  display: block;
  font-size: 20px;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  margin-right: 2%;
  height: 400px;
  width: 70vw;
  font-size: 17px;
  border: none;
  resize: none;
}

#besides {
  float: left;
  width: 25%;
  padding-right: 50%;
}

.container {
  width: 100%;
  display: inline-block;
}

.inline {
  margin: 0%;;
  display: inline-block;
}

/* 'NEXT' BUTTON */
#next {
  position: absolute;
  left: 85%;
  bottom: 15%;
  border-radius: 4px;
  background-color: #2a4a56;
  border: none;
  color: #FFFFFF;
  font-size: 30px;
  padding: 20px;
  width: 150px;
  height: 150px;
  transition: all 0.5s;
  float: right;
  cursor: pointer;
}

#next span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#next span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#next:hover span {
  padding-right: 25px;
}

#next:hover {
  background-color: #457a8d;
}

#next:hover span:after {
  opacity: 1;
  right: 0;
}

#next:active {
  background-color: #2a4a56;
}

#next:disabled {
  position: absolute;
  left: 85%;
  bottom: 15%;
  background-color: #dbeaf0;
  cursor: default;
}

#next:disabled:hover {
  position: absolute;
  left: 85%;
  bottom: 15%;
  padding-right: 0px;
  padding-left: 25px;

}

#next:disabled span:after {
  content: none;
  cursor: default;
}

#next:disabled span {
  cursor: default;
}

/* AUTH BUTTONS */
#buttonAuth {
  border-radius: 4px;
  background-color: #93a7ae;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  margin-left: 20px;
}

#buttonAuth:hover {
  background-color: #c7cacc;
}

#buttonAuth:active {
  background-color: #244c5a;
}

#buttonAuth:disabled {
  background-color: #a5ffb0;
  cursor: default;
}

#reloadButton {
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #244c5a;
  width: 60px;
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
  width: 70px;
  padding: 10px;
  font-size: 40px;
  display: inline-block;
  align-content: center;
  margin: 30%;
  margin-left: 30%;
}

#reloadButton:hover {
  transition: all 0.5s;
  background-color: #457a8d;
}

#downloadButton {
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #244c5a;
  width: 70px;
  padding: 10px;
  font-size: 40px;
  display: inline-block;
  align-content: center;
  cursor: pointer;
}

#downloadButton:hover {
  transition: all 0.5s;
  background-color: #457a8d;
}

i {
  color: rgb(255, 255, 255);
}

#progress {
  position: relative;
  top: 50%;
  z-index: 1;
  margin-bottom: 2%;
}

#progress-num {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

#progress-num::before {
  content: "";
  background-color: lightgray;
  position: absolute;
  top: 50%;
  left: 0;
  height: 5px;
  width: 100%;
  z-index: -1;
}

#progress-num .step {
  border: 3px solid lightgray;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #fff;
  font-family: sans-serif;
  color: #244c5a;
  font-size: 20px;
  position: relative;
  z-index: 1;
}

#progress-num .step.active {
  border-color: lightgray;
  background-color: rgb(58, 114, 154);
  color: #fff;
}

/* LOADING BLUR */
.loadingBlur {
  filter: blur(5px);
}

#loadingText {
  display: block;
  position: absolute;
  top: 50%;
  margin-left: 50%;
  width: 80%;
  text-align: center;
  align-self: center;
  transform: translate(-50%, -50%);
  z-index: 50;
}

/* LOADING SYMBOL */
.lds-ellipsis {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  z-index: 50;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #244c5a;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}