<!DOCTYPE HTML>

<html>

<head>
	<link rel="stylesheet" type="text/css" href="/style/style.css">
	<title>Automated Analytics Accelerator</title>
	<link rel="icon" type="image/x-icon" href="images/aaa.ico">
	<meta charset="UTF-8">
	<meta name="description" content="AAA - Kunskapspartner">
	<meta name="keywords" content="API, AI, BI">
	<meta name="author" content="Kunskapspartner">
	<script type="text/javascript" src="/scripts/scripts.js"></script>
</head>

<body>
		<em><p id="loadingText"></p></em>
		<div id="loadingSymbol"><div></div><div></div><div></div><div></div></div>
	<header>
        <img src="images/logga.png" alt="AAA företagslogga" draggable='false' onclick="location.href='/'">
		<h1 id="title">Logga in</h1>
	</header>
	<div id="loadingBlur">
	<main>
		<p>Vänligen autentisera dig via tjänsterna för att gå vidare till nästa steg:</p>
		<button onclick="location.href='/fn-oauth' " type="button" id="buttonAuth" <%= isFnEnabled ? '' : 'disabled' %>>Fortnox</button>
		<button onclick="location.href='/hs-oauth' " type="button" id="buttonAuth" <%= isHsEnabled ? '' : 'disabled' %>>HubSpot</button>
	</main>
		<button onclick="onClickToOutput()" type="button" id="next" <%= (isFnEnabled || isHsEnabled) ? 'disabled' : '' %>><span>Nästa</span></button>
	</div>
	<footer>
		<div id="progress">
            <div id="progress-bar"></div>
            <ul id="progress-num">
              <li class="step">1</li>
              <li class="step active">2</li>
              <li class="step">3</li>
            </ul>
          </div>
	</footer>

</body>

</html>