<!DOCTYPE HTML>

<html>

<head>
	<title>Automated Analytics Accelerator</title>
	<link rel="icon" type="image/x-icon" href="images/aaa.ico">
	<meta charset="UTF-8">
	<meta name="description" content="AAA - Kunskapspartner">
	<meta name="keywords" content="API, AI, BI">
	<meta name="author" content="Kunskapspartner">
</head>

<body>

	<header>
		<img src="images/logga.png" alt="AAA företagslogga">
		<h1>Autentisera dig</h1>
	</header>

	<main>
		<p>Här kommer det att stå "Logga in" eller något.</p>
		<button onclick="location.href='/fn-oauth' " type="button" id="fortnoxButton" <%= isFnEnabled ? '' : 'disabled' %>>Fortnox</button>
		<button onclick="location.href='/hs-oauth' " type="button" id="HubSpotButton" <%= isHsEnabled ? '' : 'disabled' %>>HubSpot</button>
        <button onclick="location.href='/loading' " type="button" id="output" <%= (isFnEnabled || isHsEnabled) ? 'disabled' : '' %>>Nästa</button>
	</main>

	<footer>

	</footer>

</body>

</html>