<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated Circular Progress Bar using HTML, CSS, JS</title>
    <link rel="stylesheet" href="./progressbar-styles.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
          <div class="background-circle"></div>
          <div class="foreground-circle">
            <!-- svg's width (180px) = 
              foreground-circle's width (190px) - background-circle's border width (10px).
            cx, cy, and r values should be half of the svg's width. -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              version="1.1"
              width="180px"
              height="180px"
            >
              <circle
                cx="90"
                cy="90"
                r="90"
                stroke="#50c878"
                stroke-width="24"
                fill="transparent"
              />
            </svg>
          </div>
          <div id="number-inside-circle"><p>20%</p></div>
        </div>
  
        <button class="button-click" onclick="animateButtonClick()">
          Animate with Random Value
        </button>
      </div>

      <script src="./progressbar-animate.js"></script>
</body>
</html>