<!DOCTYPE HTML>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <title>Automated Analytics Accelerator</title>
    <link rel="icon" type="image/x-icon" href="images/aaa.ico">
    <meta charset="UTF-8">
    <meta name="description" content="AAA - Kunskapspartner">
    <meta name="keywords" content="API, AI, BI">
    <meta name="author" content="Kunskapspartner">
</head>

<body>
<div className="App">
    <header>
        <img src="images/logga.png" alt="AAA företagslogga">
        <h1>Välkommen!</h1>
    </header>

    <main>
        <p>Här kommer det att stå en massa onödig info.</p>
        <button onclick="location.href='/authenticate' " type="button">Gå till autentisering</button>
    </main>

    <footer>

    </footer>
</div>
</body>

</html>