<!DOCTYPE HTML>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <title>Automated Analytics Accelerator</title>
    <link rel="icon" type="image/x-icon" href="images/aaa.ico">
    <meta charset="UTF-8">
    <meta name="description" content="AAA - Kunskapspartner">
    <meta name="keywords" content="API, AI, BI">
    <meta name="author" content="Kunskapspartner">
</head>

<body>
<div className="App">
    <header>
        <img src="images/logga.png" alt="AAA företagslogga">
        <h1 id="title" >Välkommen!</h1>
    </header>

    <main>
        <p>
        Välkommen till Automated Analytics Accelerator! <br><br>
        I denna webapplikation kommer du snart att få autentisera dig på Hubspot och Fortnox. 
        Efter autentiseringen kommer applikationen samla data från respektive system och ta fram 
        en JSON fil av denna data. Datan kommer finnas tillgänglig i en JSON fil som du kan ladda ner till 
        din dator med information kring interaktion med kunder vid olika tidpunkter och hur dessa återspeglas i fakturor. 
        Denna fil kan du enkelt applicera på Microsoft Power BI för att visa datan i modeller och diagram.  
        Utöver filen kommer du även att få en AI genererad analys av datan som du kan ladda om, i de 
        fall du vill ha ytterligare analys. Tryck på knappen för att komma till autentiseringssidan! 
        </p>
    </main>
        <button onclick="location.href='/authenticate' " type="button" id="next"><span>Nästa</span></button>

    <footer>
        <div id="progress">
            <div id="progress-bar"></div>
            <ul id="progress-num">
              <li class="step active">1</li>
              <li class="step">2</li>
              <li class="step">3</li>
            </ul>
          </div>
    </footer>
</div>
</body>

</html>