<!DOCTYPE HTML>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <title>Automated Analytics Accelerator</title>
    <link rel="icon" type="image/x-icon" href="images/aaa.ico">
    <meta charset="UTF-8">
    <meta name="description" content="AAA - Kunskapspartner">
    <meta name="keywords" content="API, AI, BI">
    <meta name="author" content="Kunskapspartner">
</head>

<body>
<div className="App">
    <header>
        <img src="images/logga.png" alt="AAA företagslogga" draggable='false' onclick="location.href='/'">
        <h1 id="title" >Välkommen!</h1>
    </header>

    <main>
        <p class="introText">
        <strong>Här kommer du att:</strong> <br><br>
            1. Autentisera dig på Hubspot och Fortnox. <br><br>
            2. Klicka 'Nästa' och få en AI-genererad analys av data hämtad från tjänsterna <br><br>
            3. Få möjlighet att ladda ner den sammanställda datan  <br><br>

        Datan sammanställs i JSON-format och kan laddas ned för att importeras
         till visualiseringsverktyg som t.ex Power-BI. <br> 
         Analysen ger dig konkreta tips och råd för att visualisera datan och
        information om vilka företag som är de mest lönsamma. 
        </p>
    </main>
        <button onclick="location.href='/authenticate' " type="button" id="next"><span>Nästa</span></button>

    <footer>
        <div id="progress">
            <div id="progress-bar"></div>
            <ul id="progress-num">
              <li class="step active">1</li>
              <li class="step">2</li>
              <li class="step">3</li>
            </ul>
          </div>
    </footer>
</div>
</body>

</html>